.form {
  display: block;
  margin-right: 10px;
}

.lableForm {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin-top: 45px;
}

.inputLable {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid goldenrod;
  font-size: 20px;
  margin-top: 50px;
}
