.capitalize {
  text-transform: capitalize;
}

/* .title {
  text-align: left;
} */

.icon {
  display: block;
  width: 30px;
  height: 30px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border: 2px solid goldenrod;
  border-radius: 10px;
  font-size: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin {
  margin-right: 15px;
}
