.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list > li {
  margin: 10px;
  border: 2px solid goldenrod;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
